<%= render 'nav' %>

<p id="notice"><%= notice %></p>

<div class="well" id="import-form" style="display:none">
  <%= form_tag import_trains_path, multipart: true do  %>
    <div class="form-group">
      <%= label_tag :file, "File Upload" %>
      <%= file_field_tag :file %>
    </div>
    <div class="form-group">
      <%= submit_tag "Upload CSV", class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Line</th>
      <th>Route</th>
      <th>Run</th>
      <th>Operator</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.line %></td>
        <td><%= train.route %></td>
        <td><%= link_to train.run, train %></td>
        <td><%= train.operator %></td>
        <td><%= link_to 'Edit', edit_train_path(train) %></td>
        <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= train.flag %></td>
        <td><%= train.flag_info %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="8"><%= link_to 'New Train', new_train_path %>
      </td>
    </tr>
  </tbody>
</table>


